#root {
  max-width: 1280px;
  margin: 0 auto;
 padding: 2rem;
  /*text-align: center;*/
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.input-card {
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid #706e6e;
  border-radius: 10px;
}

.button-primary{
  background-color: rgb(68, 66, 66);
  color: rgb(255, 255, 255);
  width: 100%
}

.notes-list {
  padding-top: 10px;
  max-height: 400px;
  overflow-y: auto;
  max-width: 250px;
}

.note-card {
  position: relative;
  padding: 0 20px 20px 5px; 
  border-radius: 10px;
  border: 2px solid  #706e6e;
  margin-bottom: 10px;
}

.note-card p {
  margin-bottom: 25px;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto; 
  max-height: 50px; 
}


.button-secundary{
  position: absolute;
  background-color: #e6e2e2;
  color: rgb(73, 72, 72);
  border: none; 
  padding: 4px; 
}





